.Usercomment {
    margin: 30px;
    padding: 30px;
    background: white;

    .commentItem {
        border-bottom: 1px #eeeeee solid;
       
        .button {
            line-height: 50px;
            height: 50px;
        }
    }
}