
.header {
    position: relative;

    .myvalue {
        position: absolute;
        z-index: 10;
        right: 30px;
        top:0px;

        .div {
            margin-left: 20px;
        }
    }
}

.footer {
    text-align: center;
    background-color: rgba(0,21,41,1);
    color:white;
}
.content {
    .contentAll {
        width: 80%;
        margin: 0 auto;
        text-align: center;

        .autocom {
            margin: 20px auto;
        }
    }


}